<div class="form-container">
  <h2 class="form-title">Agende sua reserva!</h2>
  <form class="form">
    <div class="form__group">
      <label class="form__label" for="">Nome do hóspede</label>
      <input class="form__input" type="text" name="nomeHospede" [(ngModel)]="reservation.nomeHospede" required>
    </div>
    <div class="form__group">
      <label class="form__label" for="">Início da reserva</label>
      <input class="form__input" type="date" name="dataInicio" [(ngModel)]="reservation.dataInicio" required>
    </div>
    <div class="form__group">
      <label class="form__label" for="">Fim da reserva</label>
      <input class="form__input" type="date" name="dataFim" [(ngModel)]="reservation.dataFim" required>
    </div>
    <div class="form__group">
      <label class="form__label" for="">Pessoas</label>
      <input class="form__input" type="number" name="quantidadePessoas" [(ngModel)]="reservation.quantidadePessoas"
        required>
    </div>

    <div class="btns">
      <button (click)="createReservation()" class="form__btn">Confirmar</button>
    </div>

  </form>
</div>

<div class="container">
  <a routerLink="/list" class="link">Ver todas as reservas &rarr;</a>
</div>